/* pulse effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*wave effect */
.wave-end {
  height: 50px;
  width: 100%;
  position: relative;
  background: #115A5E;
  margin-top: 200px;
  margin-bottom: 0;
}

.wave {
  background: url(../images/wave.svg);
  position: absolute;
  top: -198px;
  width: 100%;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 7s ease -1.25s infinite;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite, swell 7s ease -1.25s infinite;
}
.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}
@keyframes swell {
  0%, 100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(5px);
  }
}
/*text effect */
@keyframes pulsate {
  0% {
    opacity: 1;
    color: #E0FFDD;
  }
  40% {
    opacity: 1;
    color: #D3E4FE;
  }
  60% {
    opacity: 1;
    color: #D3E4FE;
  }
  100% {
    opacity: 1;
    color: #E0FFDD;
  }
}
@keyframes moveText {
  0% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(0%);
  }
  55% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animated-text {
  animation: pulsate 5s linear infinite, moveText 25s linear infinite;
  white-space: nowrap;
}

/*image animation */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.animated-img {
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes pulsate-img {
  0% {
    background-color: #E0FFDD;
  }
  40% {
    background-color: #D3E4FE;
  }
  60% {
    background-color: #D3E4FE;
  }
  100% {
    background-color: #E0FFDD;
  }
}
@keyframes gradient-img {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*image animation writing */
@keyframes writeText {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
.animated-writing {
  animation: writeText 3s ease-in-out infinite;
  height: 60px;
  width: auto;
}

@keyframes writeText-invert {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
/* project animation */
@keyframes tilt {
  0% {
    transform: scale(1.05) rotate(0deg);
  }
  100% {
    transform: scale(1.05) rotate(3deg); 
  }
}
.animated-writing-invert {
  animation: writeText-invert 3s ease-in-out infinite;
  height: 60px;
  width: auto;
}

.maincolor {
  color: #21758F;
}

.secondarycolor {
  color: #194857;
}

.color {
  color: #D3E4FE;
}

.nav-bgc {
  background-color: #115A5E;
}

.button-bgc {
  background-color: #e0f7f5;
}

.initials-bgc {
  background-color: #e0f7f5;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.header-bg {
  background-size: cover;
  background-position: center;
  color: #5995DA;
}

.container-bgc {
  background: linear-gradient(110deg, #E0FFDD, rgba(89, 149, 218, 0.662745098));
  color: black;
  padding: 24px 12px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 80%;
  box-shadow: 5px 8px 5px rgba(118, 133, 156, 0.6941176471);
}

.end-container-bgc {
  background-color: #367678;
  border: 3px solid #D3E4FE;
  color: #194857;
  padding: 12px;
  margin-top: 0;
  border-radius: 20px;
  font-size: 100%;
  box-shadow: 4px 5px 5px 4px #194857;
}

.card-bgc {
  background: linear-gradient(110deg, #D3E4FE, #E0FFDD);
  background-color: #E7F0FF;
  box-shadow: 5px 8px 5px rgba(118, 133, 156, 0.6941176471);
}

.project-bgc {
  box-shadow: 4px 4px 4px rgba(118, 133, 156, 0.6941176471);
  border: 1px solid #194857;
}

.link-bgc {
  color: #E0FFDD;
  border-radius: 10px;
  box-shadow: inset 2px 3px 2px 3px rgba(118, 133, 156, 0.6941176471);
}

.form-bgc {
  background-color: #D3E4FE;
  border: 1px solid #115A5E;
  border-radius: 20px;
  margin: 5px;
}

.form-control.form-bgc {
  background-color: #D3E4FE;
}

.btn-bgc {
  background-color: #115A5E;
  border: 1px solid #D3E4FE;
  color: #D3E4FE;
  box-shadow: 2px 3px 3px 2px #115A5E;
}

.links-bgc {
  background-color: #115A5E;
  padding: 5px;
  width: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
}

.btn-bgc:active, .btn-bgc:hover {
  background-color: #2babb3;
  border: 1px solid #115A5E;
  color: #D3E4FE;
}

.profile-picture {
  width: 60%;
  max-width: 320px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  animation: pulse 10s infinite;
  
}

.github-picture {
  width: 50%;
  max-width: 320px;
  display: block;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  border-radius: 15%;
  box-shadow: 5px 8px 5px rgba(118, 133, 156, 0.6941176471);
  background-image: linear-gradient(to right, #E0FFDD 0%, #D3E4FE 50%, #E0FFDD 100%);
  background-size: 300% 100%;
  animation: pulsate-img 5s linear infinite, gradient-img 10s ease infinite, writeText-invert 6s ease-in-out infinite;
}

.project-animate {
  transition: transform 1.2s ease-in-out, box-shadow 0.3s ease;
  transform-origin: center;
}

.project-animate:hover {
  transform: scale(1.05) rotate(3deg);
  animation: tilt 1.2s ease-in-out infinite alternate;
}

.break {
  background-color: #115A5E;
  margin-top: 100px;
  width: 100%;
  height: 80px;
  overflow-x: hidden;
}

.end {
  background-color: #115A5E;
  width: 100%;
}

.text {
  color: #2babb3;
  text-align: center;
  padding-top: 20px;
}

.nav-text {
  color: #e0f7f5;
}

.cv {
  margin-top: 20px;
  color: #194857;
  border: 1px solid #194857;
}


#end-section {
  background-color: #115A5E;
  padding: 50px 0;
  margin-top: -1px;
}

/*media screens */
@media (max-width: 576px) {
  @keyframes moveText {
    0% {
      transform: translateX(-250%);
    }
    100% {
      transform: translateX(110%);
    }
  }
  .text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 400px) {
  .project-img {
    width: 80%;
  }
  .link-bgc img {
    max-width: 100%;
  }
  .animated-text {
    font-size: 1.2rem !important;
    padding-top: 25px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .project-img {
    width: 60%;
  }
  .link-bgc img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 960px) {
  @keyframes moveText {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(110%);
    }
  }
}

@media (min-width: 768px) {
  .link-bgc img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 961px) {
  .project-img {
    width: 40%;
  }
  .link-bgc {
    padding: 0 15px;
  }
}


.mt-100 {
  margin-top: 100px;
}

.height-30 {
  height: 30px;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchorhome {
  display: block;
  height: 62px;
  margin-top: -62px;
  visibility: hidden;
  margin-bottom: 0px;
}

.anchor {
  display: block;
  height: 25px;
  margin-top: -25px;
  visibility: hidden;
  margin-bottom: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F0FDFC;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/*# sourceMappingURL=main.css.map */

.carousel-inner {
  min-height: 150px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) hue-rotate(180deg); 
}

/* ALL CSS FOR SKILL TIMELINE */
/* General timeline styles */
.skill-timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-left: 3px solid #2babb3; /* Main timeline vertical line */
  position: relative;
}

.skill-timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  padding-left: 50px; /* Indent each timeline item */
}

.skill-timeline-item:last-child {
  margin-bottom: 0;
}

/* Timeline icon styles */
.skill-icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e0f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #2babb3; 
  border: 3px solid #2babb3;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.skill-icon-info {
  background: #e0f7f5;
  color: #194857;
}

/* Title and description styles */
.skill-timeline-title {
  font-size: 20px;
  font-weight: bold;
  color: #194857;
  margin: 0 0 5px 15px;
  width:  100px;
  text-align: left;
}

.skill-timeline-description {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #194857;
  margin: 0 0 0 15px;
  max-width: 80%;
  text-align: left;
}

/* Mobile view adjustments */
@media only screen and (max-width: 767px) {
  .skill-timeline-item {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 20px; 
  }

  .skill-icon-wrapper {
    position: static;
    margin-bottom: 10px;
  }

  .skill-timeline-title {
    margin: 0 0 0 0; 
    font-size: 18px;
  }

  .skill-timeline-description {
    margin: 10px 0 0 0; 
    font-size: 16px;
    max-width: 100%;
  }
}

/*CSS FOR WORK TIMELINE*/
/* General timeline styles */
.work-timeline {
  display: flex;
  flex-direction: column;
  /*align-items: flex-end;*/
  padding: 20px;
  border-right: 3px solid #2babb3; /* Main timeline vertical line */
  position: relative;
}

.work-timeline-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  padding-right: 50px; /* Indent each timeline item */
}

.work-timeline-item:last-child {
  margin-bottom: 0;
}

/* Timeline icon styles */
.work-icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e0f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #2babb3; 
  border: 3px solid #2babb3;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.work-icon-info {
  background: #E0FFDD;
  color: #194857;
}

/* Text container styles */
.work-timeline-text {
  margin-right: 60px; /* Match the width of the icon */
  text-align: left;
  width: calc(100% - 60px); 
}

/* Title and description styles */
.work-timeline-info {
  margin: 0;
}

.work-timeline-title {
  font-size: 20px;
  font-weight: bold;
  color: #194857;
  margin-bottom: 5px;
}

.work-timeline-company {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.work-timeline-description {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #194857;
  margin-bottom: 10px;
}

.work-timeline-duration {
  font-size: 14px;
  color: #666;
}

/* Mobile view adjustments */
@media only screen and (max-width: 767px) {
  .work-timeline-item {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    margin-top: 20px; 
  }

  .work-icon-wrapper {
    position: static;
    margin-bottom: 10px;
  }

  .work-timeline-info {
    margin-right: 0;
  }

  .work-timeline-title {
    font-size: 18px;
  }

  .work-timeline-description {
    font-size: 16px;
  }
}